.navbar a {
    color: rgb(186, 62, 62);
    text-align: center;
    text-decoration: none;
    float: left;
    border-style: solid;
    border-color: green;
    
}



body {
    background-color: blue;

}

h2 {
    text-align: center;
    padding: 10px;
    color: rgb(0, 55, 102);
    border-style: solid;
    border-color: green;
    margin-right: auto;
}

img {
    border-radius: 50px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    
}

.golf {
    margin-left: 500px;
    
}

.coding1 {
    margin-left: 500px;
    
}

.coding2 {
    margin-left: 500px;
}

.code3 {
    margin-left: 500px;
}